---: First
booger
---: These are some instructions
class Foo:
    bar = 4
    thing = 8

    def bar(self):
        print("Thing")

        print("Other Thing, but spaced")
        print("Yep")
---: More instructions
---: On multiple lines
---: And stuff
        for x in range(100):
            print(x)
            
    print("got here")
---: Now for some HTML
            <a href="bugger">
                <i>thing</i>
            </a>

    <div>
        blockhead
    </div>
